build --worker_verbose
build --worker_max_instances=1
build --worker_quit_after_build
build --profile=/tmp/profile.gz
build --experimental_worker_max_multiplex_instances=KotlinCompile=5

build --java_language_version=17 --java_runtime_version=remotejdk_17
build --tool_java_language_version=17 --tool_java_runtime_version=remotejdk_17